<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.readhtml.surajjorwekar.microu" >

    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Applications.PaymentActivity"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name=".Applications.UniversityActivity"
            android:label="@string/title_activity_university" >
        </activity>
        <activity
            android:name=".Applications.HospitalActivity"
            android:label="@string/title_activity_hospital" >
        </activity>
        <activity
            android:name=".Applications.AirportActivity"
            android:label="@string/title_activity_airport" >
        </activity>
        <activity
            android:name=".WaitForNFC"
            android:label="@string/title_activity_wait_for_nfc" >
        </activity>

        <service
            android:name=".Utils.UsbService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".Register.AadharRegistration"
            android:label="@string/title_activity_aadhar_registration" >
        </activity>
        <activity
            android:name=".Register.HospitalRegistration"
            android:label="@string/title_activity_hospital_registration" >
        </activity>
        <activity
            android:name=".Register.CardRegistration"
            android:label="@string/title_activity_card_registration" >
        </activity>
        <activity
            android:name=".Register.UniversityRegistration"
            android:label="@string/title_activity_university_registration" >
        </activity>
        <activity
            android:name=".ScanAadhar"
            android:label="@string/title_activity_scan_aadhar" >
        </activity>
    </application>

</manifest>
